@model System.Collections.Generic.List<FindCommandTypes.TraditionalWeb.Models.CoreCommandVM>

@{
    ViewBag.Title = "Dead Commands";
    Layout = "_Layout";
}

<h2>Dead Commands</h2>

<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">SSC Exclusivity</th>
        <th scope="col">Dependencies</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var command in Model)
    {
        <tr data-toggle="tooltip" data-placement="bottom" title="@command.FullName" class="@(command.Dependencies.Count() < 2 ? "table-success" : "")">
            <th scope="row">
                <a class="nav-link active" href="command/@command.Name">@command.Name</a>
            </th>
            <td>
                <span>@command.IsExclusivelyUsedBySSC</span>
            </td>
            <td>
                <ul>
                    @foreach (var repo in command.Dependencies.Select(x => x.SearchCode.Repository.FullName).Distinct())
                    {
                        <li>@repo</li>
                    }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>