@model CoreCommandVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    var dependencies = Model
        .Dependencies
        .OrderBy(x => x.IsCoreConsumers)
        .ThenBy(x => x.SearchCode.Repository.FullName);
}

<h2>@Model.Name</h2>
<code>@Model.FullName</code>

<h3>Dependencies</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Repo</th>
        <th scope="col">Line</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dependency in dependencies)
    {
        <tr>
            <th scope="row">
                @if (dependency.IsCoreConsumers)
                {
                    <span><b>@dependency.SearchCode.Repository.FullName</b></span>
                }
                else
                {
                    <span>@dependency.SearchCode.Repository.FullName</span>
                }
            </th>
            <td>
                <ul>
                    @foreach (var line in dependency.FoundLines)
                    {
                        <li><code>@line</code></li>
                    }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>

 